<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="main bg-zinc-900 h-screen w-full">
        <div class="form p-[10vh]">
            <form action="/create" method ="post" class="min-h-10 flex-col flex">
                <input type="text" placeholder="Title Goes here" class="bg-zinc-800 h-10 rounded-md p-3 text-white" name="title">
                <textarea placeholder="write your task details" class="bg-zinc-800 rounded-md mt-6 resize-none p-3 text-white" name="details"></textarea>
                <input type="submit" value="create task" class="bg-blue-700 w-[18vh] p-3 rounded mt-6 text-white">
            </form>
        </div>
        <div class="task p-[10vh] flex gap-2">
            <% if (files.length > 0) { %>
                <% files.forEach(function(val) { %>
                    <div class="card w-[40vh] bg-zinc-800 text-white h-[20vh] rounded-md padding-2">
                        <h1 class="text-tighter text-2xl p-2"><%= val%></h1>
                        <a class="text-blue-400 inline-block mt-3 p-3" href="/file/<%= val%>">Read more</a>
                    </div>
                <% }); %>
            <% } else { %>
                <h1 class="text-zinc-500">No task here</h1>
            <% } %>
        </div>
    </div>
</body>
</html>
